.infos {
  &__optn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &--mobile {
      display: none;
    }
  }

  &__optn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;

    border: 2px dashed var(--primary);
    border-radius: 10px;
    // box-shadow: 0.5px 0.5px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary);

    padding: 30px 40px;
    margin: 20px;
    width: 500px;
  }

  &__ico {
    width: 80%;
  }
}

.map{
  width: 400px;
  padding: 15px;
}

@media screen and (max-width: 1080px) {
  .infos {
    &__optn-container {
      flex-direction: column;
    }

    &__optn {
      width: 90%;
      display: none;
    }
  }
}

@media screen and (max-width: 769px) {
  .infos {
  }
}
