.program {
  &__art-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__art {
    margin: 30px;
    text-align: center;
    width: 80%;
  }

  &__act {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    text-align: left;
  }

  &__txt {
    margin-left: 10px;
    font-family: "Jost";
  }

  &__ico {
    width: 60px;
  }
}

@media screen and (max-width: 1080px) {
  .program {
    &__art-container {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 769px) {
  .program {
  }
}
