.home {
  &__container {
    min-height: 100vh;
  }

  &__quote {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px dashed var(--primary);
    border-radius: 10px;

    width: 27%;
    position: absolute;
    top: 80px;
    left: 4vw;
    padding: 40px;
    z-index: 1;

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
  }

  &__img {
    &--couple {
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 60%;
    }
    &--mandala {
      position: absolute;
      top: -200px;
      left: -90px;
      width: 40%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    &-link {
      margin: 0 auto 10px 0;
      padding: 2px 15px;
      font-size: 1rem;
    }
    &-rsvp {
      margin: 0 auto 10px 0;
      padding: 15px;
      font-size: 1.2rem;
    }
  }
}

.homemobile {
  &__img {
    &--couple {
      position: absolute;
      bottom: 0px;
      left: 10%;
      width: 80%;
    }
    &--mandala {
      position: absolute;
      top: -60px;
      left: -60px;
      width: 80%;
    }
  }

  &__quote {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px dashed var(--primary);
    border-radius: 10px;

    max-width: 70%;
    padding: 20px;

    position: relative;
    z-index: 1;
    top: 10vh;
    margin: 0 auto;

    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;

    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    &-rsvp {
      font-size: 1.2rem;
      padding: 10px;
    }
    &-link {
      font-size: 1rem;
      padding: 0 5px;
    }
  }

  &__arrow-down {
    width: 12%;
    position: relative;
    z-index: 1;
    top: 15vh;
    left: 43%;

    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
  }

  @-webkit-keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
}

@media screen and (min-width: 600px) {
  .homemobile {
    &__img {
      &--mandala {
        position: absolute;
        top: -60px;
        left: -60px;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .home {
    &__quote--desktop {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1rem;

      width: 30%;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .home {
    &__quote {
      top: 60px;
      padding: 20px;
      width: 30%;
    }

    &__buttons {
      &-rsvp {
        padding: 10px;
      }
      &-link {
        display: none;
      }
    }
  }
}
