.infos {
  &__optn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__optn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 2px dashed var(--primary);
    border-radius: 10px;
    background-color: var(--secondary);

    padding: 30px 40px;
    margin: 20px;
    width: 30vw;
  }

  &__art {
    text-align: left;
  }

  &__ico {
    width: 80%;
  }
}

.map {
  width: 90%;
  padding: 15px;
}

@media screen and (max-width: 1080px) {
  .infos {
    &__optn-container {
      flex-direction: column;
    }

    &__optn {
      width: 70vw;

      padding: 15px 20px;
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 769px) {
  .infos {
  }
}
