.legal {
  &__page {
    min-height: 80vh;
  }

  &__section {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin: 15px auto;
  }

  &__item {
    width: 49%;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: end;

    text-align: right;

    padding-right: 15px;
    overflow-wrap: anywhere;
  }

  &__text {
    display: flex;
    align-items: center;

    margin: 0;
    text-align: left;
    padding-left: 15px;

    overflow-wrap: anywhere;
  }

  &__bullet {
    margin: 15px 0;
    line-height: 1.5rem;
  }

  &__article {
    width: 70%;
    text-align: left;
  }
}

.--border-left {
  border-left: solid 1px black;
}

@media screen and (max-width: 768px) {
  .legal {
    &__article {
      width: 90%;
    }
    &__privacytitle {
      margin: 0 30px;
    }
  }
}
